  .imagen-avatar {
      width: 3rem;
      margin-left: 1.2rem;
      overflow: hidden;   
  }

  .container-avatar_mu {
      width: 45px;
      height: 45px;
      border-radius: 900px;
      overflow: hidden;
      margin-left: 30px;

  }

  .container-avatar_mu {
      float: left;
      margin-right: 15px;
  }

  .image img {
      width: 100%;
      height: 100%;
  }
  .car-img{
      padding: 0px;
  }

  /* .fas{
    font-size: 1.3rem;
  } */
  .detalle {
      color: rgb(97, 88, 88);
  }

  .fecha {
      color: #8A8A8A;
  }

  .nick {
      color: #4E4E4E;
  }

  .count_likes .likes {
      color: #4E4E4E;
  }

  .img-liks {
      width: 1.5rem;
  }
